body {
    background: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.top-header{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
.left-half,
.right-half {
    position: absolute;
    top: 29.5%;
    bottom: 0;
    width: 50%; 
  }

/*  Tri Sections  */
.top-header{
    left: 0;
    right: 0;
    background-color: black;
  }
.left-half {
    left: 0px;
    background-color: white;
  }
.right-half {
    right: 0px;
    background-color: white; 
  }

/*  Section Text - Headers  */
.top-header h1{
  color: white;
  font-size: 10ch;
  }
.left-half h1{
  margin-top: 20%;
  color: black;
  font-size: large;
}
.right-half h1 {
  margin-top: 20%;
  color: black;
  font-size: large;
}

/*  Section Text - Paragraphs  */
.left-half p{
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  font-size: small;
}
.right-half p{
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  font-size: small;
}
